{% extends 'core/base.html' %}

{% block navbar %}
 
<a class="nav-link active" href="{% url 'index' %}">Inicio <span class="sr-only">(current)</span></a>
         <a href="{% url 'mainPage_Externos' %}" class="nav-link">Portal Cliente Externo</a>
         <a href="#" class="nav-link">Portal Cliente Interno</a>
         <a href="{% url 'productos' %}" class="nav-link">Portal Productor</a>
         <a href="{% url 'list_subastas'%}" class="nav-link">Portal Transportista</a>
         {% if user.is_authenticated %}
         <a class="active nav-link" href="#">Bienvenido: {{ user.username }}</a>
         <a href="{% url 'logout' %}" class="nav-link">Cerrar Sesión</a>
       {% endif %}
{% endblock %}

{% block content %}
  <h2>Registro de Transportista</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {{ profile_form.as_p }}
    <button type="submit">Registrarse</button>
  </form>
{% endblock %}