<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Responsive Navbar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>
  <body>
    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label class="logo">FrutOnline</label>
      <ul>
        <li><a class="active" href="#">Inicio</a></li>
        <li><a href="{% url 'mainPage_Externos' %}">Portal Cliente Externo</a></li>
        <li><a href="#">Portal Cliente Interno</a></li>
        <li><a href="{% url 'productos' %}">Portal Productor</a></li>
        <li><a href="{% url 'list_subastas'%}">Portal Transportista</a></li>
      </ul>
      <ul>
        {% if user.is_authenticated %}
          <li><a class="active" href="#">Bienvenido: {{ user.username }}</a></li>
          <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
        {% endif %}
      </ul>
    </nav>
    <section></section>
  </body>
</html>


