<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
    <h2>Nuevo Cliente Local</h2>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="">Rut</label>
        <input type="text" name="RutLocal">
        <br>
        <label for="">Nombre</label>
        <input type="text" name="NombreLocal">
        <br>
        <label for="">Apellido</label>
        <input type="text" name="ApellidoLocal">
        <br>
        <label for="">Telefono</label>
        <input type="text" name="TelefonoLocal">
        <br>
        <label for="">Email</label>
        <input type="text" name="EmailLocal">
        <br>
        <label for="">Direccion</label>
        <select name="direccion" id="direccion">
            <option value="">Selecionar</option>
            {% for d in direccion %}
            <option value="{{p.0}}">{{p.1}}</option>
            {% endfor%}
        </select>
        <br>
        <label for="">Comuna</label>
        <select name="id_comuna" id="id_comuna">
            <option value="">Selecionar</option>
            {% for c in id_comuna %}
            <option value="{{p.0}}">{{p.1}}</option>
            {% endfor%}
        </select>
        <input type="submit" value="Guardar">

        
    </form>


    <h2>Listado Clientes Locales</h2>
    <table>
        <tr>
            <th>Rut</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Telefono</th>
            <th>Email</th>            
            <th>Direccion</th>
            <th>Comuna</th>
        </tr>

        {% for l in ClienteInterno %}

        <tr>
            <td>{{ l.rut_clii }} </td>
            <td>{{ l.nombre_clii }}</td>
            <td>{{ l.apellido_clii }}</td>
            <td>{{ l.telefono }}</td>
            <td>{{ l.email }}</td>
            <td>{{ l.direccion }}</td>
            <td>{{ l.id_comuna</td>
        </tr>

        {% endfor %}

    </table>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>

</body>
</html>