<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>

    <h2>Nuevo Cliente Local</h2>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="">RUT</label>
        <input type="text" name="RUT" id="RUT">
        <br>
        <label for="">Nombre</label>
        <input type="text" name="Nombre">
        <br>
        <label for="">Apellido</label>
        <input type="text" name="Apellido">
        <br>
        <label for="">Email</label>
        <input type="text" name="Email">
        <br>
        <label for="">Telefono</label>
        <input type="number" name="Telefono">
        <br>
        <label for="">Comuna</label>
        <Select name="Comuna" id="Comuna">
            <option value="">Seleccionar</option>
            {% for p in pais %}
                <option value="{{ p.0 }}">{{p.1}}</option>
            {% endfor %}
        </Select>
        <br>
        <input type="submit" value="Guardar">

    </form>

    <!--
    <form action="" method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
            
        </table>
        <input type="reset" value="Limpiar">
        <input type="submit" value="Guardar">
    </form>
    {{mensaje}}



    <h2>Listado Clientes Internos</h2>
    <table>
        <tr>
            <th>Rut</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Telefono</th>
            <th>Email</th>            
            <th>Direccion</th>
            <th>Comuna</th>
            <th>Opciones</th>
        </tr>

        {% for l in ClientesI %}

        <tr>
            <td>{{ l.rut_clii }} </td>
            <td>{{ l.nombre_clii }}</td>
            <td>{{ l.apellido_clii }}</td>
            <td>{{ l.telefono }}</td>
            <td>{{ l.email }}</td>
            <td>{{ l.direccion }}</td>
            <td>{{ l.id_comuna }}</td>
            <td> <a href="{% url 'modificarClienteI' l.rut_clii %}">Modificar</a></td>
            <td> <a href="{% url 'eliminarClienteI' l.rut_clii %}">Eliminar</a></td>
           
        </tr>

        {% endfor %}

    </table>

    -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>

</body>
</html>