<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Eliminar Cliente Externo</h2>
    <table>
        <tr>
            <th>NIE</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Telefono</th>
            <th>Email</th>
            <th>País</th>
        </tr>

        {% for e in ClientesExternos %}

        <tr>
            <td>{{ e.0 }} </td>
            <td>{{ e.1 }} </td>
            <td>{{ e.2}}</td>
            <td>{{ e.3 }}</td>
            <td>{{ e.4 }}</td>
            <td>{{ e.5 }}</td>
            <td> <a href="{% url 'modificarClienteE' e.0 %}">Modificar</a></td>
            <td> <a href="{% url 'eliminarClienteE' e.0 %}">Eliminar</a></td>
        </tr>

        {% endfor %}


    </table>
</body>
</html>