{% extends 'core/base.html' %}

{% load static %}


    {% block navbar %}
 
 <a class="nav-link active" href="{% url 'index' %}">Inicio <span class="sr-only">(current)</span></a>
          <a href="{% url 'mainPage_Externos' %}" class="nav-link">Portal Cliente Externo</a>
          <a href="#" class="nav-link">Portal Cliente Interno</a>
          <a href="{% url 'productos' %}" class="nav-link">Portal Productor</a>
          <a href="{% url 'list_subastas'%}" class="nav-link">Portal Transportista</a>
          {% if user.is_authenticated %}
          <a class="active nav-link" href="#">Bienvenido: {{ user.username }}</a>
          <a href="{% url 'logout' %}" class="nav-link">Cerrar Sesión</a>
        {% endif %}
 {% endblock %}


 {% block content %}


<h2>Nueva Subasta</h2>

<form action="" method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>

    <input class="btn btn-success" type="reset" value="Limpiar">
    <input class="btn btn-success" type="submit" value="Guardar">
</form>
{{ mensaje }}

{% endblock %}