<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
          <i class="fas fa-bars"></i>
        </label>
        <label class="logo">FrutOnline</label>
        <ul>
          <li><a class="active" href="#">Inicio</a></li>
          <li><a href="#">Portal Cliente Externo</a></li>
          <li><a href="#">Portal Cliente Interno</a></li>
          <li><a href="{% url 'productos' %}">Portal Productor</a></li>
          <li><a href="{% url 'list_subastas'%}">Portal Transportista</a></li>
        </ul>
        <ul>
          {% if user.is_authenticated %}
            <li><a class="active" href="#">Bienvenido: {{ user.username }}</a></li>
            <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
          {% endif %}
        </ul>
      </nav>



    <h1>Modificar producto</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
            
        </table>
        <input type="submit" value="Modificar"> 

    </form> 

    {{mensaje}}
    
</body>
</html>