<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'base' %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'listado_productores' %}">listado productores</a>
                </li>
                <li>
                    <a href="{% url 'nuevos_productores' %}">refresh</a>
                </li>
            </ul>
        </nav>
    </header>

    <h1>Modificar Productores</h1>

    <form action="" method="POST">
        {% csrf_token %}
        <table>
        {{ form.as_table }}
        </table>

        <input type="reset" value="Limpiar">
        <input type="submit" value="Modificar">

    </form>

    {{ mensaje }}

</body>
</html>