section{
    background: url(/static/core/img/bg.jpg) no-repeat; 
    background-size: cover;
    height: calc(100vh - 80px);
  }
.conte{
  padding: 50px;
    background-color: white;
    border-radius: 5px;
    width: fit-content;
  }

  